[alias]
	whoami = config user.email
[core]
	editor = $EDITOR
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[diff]
	algorithm = patience
	colorMoved = zebra
	renames = copies
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[user]
	name = jabkoo
	email = jabrzyk.k@gmail.com
[init]
	defaultBranch = main
